<h1>Crear Publicación</h1>
<div>
  <form action="/posts/create" method="post">
    <div class="form-group mb-3">
      <label for="title">Publicación</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <button class="btn btn-primary" type="submit">
      Publicar
    </button>
  </form>
</div>
<hr />
<h2>Publicaciones</h2>
<div class="d-flex flex-row flex-wrap justify-content-between">

  {{#each posts}}
    <div
      id="{{id}}"
      class="card"
      style="width: 30%;margin-bottom: 20px; background-color: #D5E8D4;"
    >
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <strong>{{comments.length}} comentarios</strong>
        <ul>
          {{#each comments}}
            {{#ifEquals status "pending"}}
              <li style="color: blue">El contenido de este comentario, esta
                siendo revisado</li>
            {{/ifEquals}}
            {{#ifEquals status "approved"}}
              <li style="color: dark">{{content}}</li>
            {{/ifEquals}}
            {{#ifEquals status "rejected"}}
              <li style="color: red">El contenido de este comentario, ha sido
                rechazado</li>
            {{/ifEquals}}
          {{/each}}
        </ul>
        <div>
          <form action="/posts/{{id}}/comments" method="post">
            <div class="mb-3">
              <label>Comentar</label>
              <input
                name="content"
                class="form-control"
                type="text"
                id="content"
              />
            </div>
            <button class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>