<html>
  <head>
    <title>{{PostApp}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />{{! 
    <link rel="stylesheet" href="/stylesheets/style.css" /> }}
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>